{% extends user.is_authenticated|yesno:"userbase.html,base.html" %}
{% load static %}
{% block title %} SignUp Page {% endblock %}


{% block content %}


<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 25%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=reset] {
  width: 25%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

		@import url('https://fonts.googleapis.com/css?family=Raleway:200');


#box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1490px;
  height: 150px;
  color: white;
  font-family: 'Raleway';
  font-size: 2.5rem;
}
.gradient-border {
  --borderWidth: 3px;

  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


</style>

<!-- Breadcrumb Section Begin -->

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>SignUp</h2>
                        <div class="bt-option">
                            <a href="{% url 'index' %}">Home</a>
                            <span>SignUp</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
<br>

    <!-- Breadcrumb Section End -->

<div class="content">
			<!---contact--->
			<div class="contact">


					<div class="col-md-8 ">
						<div class="gradient-border" id="box">
						<h2>Sign Up Form</h2>
						</div>
                        <br>
						<div class="col-md-7" style="margin-left:450px;">
						<form action="#" method="post">
						{% if messages %}
							<ul>
								{% for message in messages %}
									<li>{{ message }}</li>
								{% endfor %}
							</ul>
							{% endif %}
							{% csrf_token %}
							{{ form.as_p}}
							<input type="submit" value="Submit" style="margin-left:190px;" >
							<br>
							<input type="reset" value="Clear" style="margin-left:190px;">

						</form>
						</div>
					</div>
					<div class="clearfix"> </div>
			</div>
</div>




{% endblock %}